input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}
#card,
#doubleCard {
  letter-spacing: 2px;
}

.invisible-custom {
  visibility: hidden !important;
  cursor: default !important;
}

textarea {
  resize: none !important;
}
