input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

#card,
#doubleCard {
  letter-spacing: 2px;
}

.custom-text-input {
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 22px;
  padding: 6px;
  transition: 200ms;
  outline: none;
}
.custom-text-input:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  background-color: rgb(235, 235, 235);
}

.invisible-custom {
  visibility: hidden !important;
  cursor: default !important;
}

textarea {
  resize: none !important;
}
