input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

#card,
#doubleCard {
  letter-spacing: 2px;
}

.custom-text-input {
  font-size: 22px;
  padding: 6px;
  transition: 0.2s;
}
.custom-text-input:focus {
  background-color: rgb(235, 235, 235);
}
