* {
  font-family: "Quicksand", sans-serif;
}

.header {
  overflow: hidden;
  background-color: rgb(75, 75, 75);
  color: white;
  min-height: 60px;
  height: 5vh;
  width: 100vw;
  max-width: 100%;
}

.header table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.header table td {
  text-align: center;
  font-size: large;
}

.header a {
  color: white;
}

.header a:hover {
  color: lightgray;
}

td.main {
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

div.parent {
  position: relative;
  height: 90vh;
}

div.input {
  float: left;
  padding-left: 10px;
  padding-right: 10px;

  height: 100%;
  width: 50%;
}

div.input textarea {
  font-family: "Montserrat", sans-serif;
  height: 80%;
  width: 90%;
  box-sizing: border-box;
  text-align: left;
  padding: 12px;
  resize: none;
  font-size: 16px;
  border: 2px solid black;
}

div.input textarea:focus {
  border: 3px solid black;
}

div.output {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  height: 100%;
  width: 40%;
}

div.output textarea {
  font-family: "Montserrat", sans-serif;
  height: 80%;
  width: 90%;
  box-sizing: border-box;
  text-align: left;
  padding: 12px;
  resize: none;
  font-size: 16px;
  border: 2px solid black;
  user-select: none;
}

.copy {
  width: 90%;
  height: 5%;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.copy:hover {
  background-color: lightgray;
}

.copy:active {
  background-color: darkgray;
}

div.validator {
  overflow: auto;
  float: left;
  width: 40%;
  height: 35%;
  min-height: 350px;
  padding-left: 15px;

  padding-right: 15px;
}

div.validator h1 {
  text-align: center;
}

div.success {
  overflow: auto;
  float: right;
  width: 40%;
  height: 35%;
  min-height: 150px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

div.validator input[type="number"] {
  padding: 15px;
  width: 400px;
  font-size: 20px;
  letter-spacing: 2px;
}
div.validator input[type="number"]:focus {
  background-color: rgb(243, 243, 243);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

#validCheck {
  color: red;
}

div.validatorChild {
  max-width: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

div.infoCard {
  position: relative;
  font-size: large;
  margin: auto;
  padding: 15px;
  width: 90%;

  overflow: auto;
}

#card,
#doubleCard {
  letter-spacing: 4px;
}

button.generate {
  margin: 0 auto;
  border: 10px solid transparent;
  background-color: rgb(235, 235, 235);
  width: 200px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  padding: 0px;
  font-family: "Montserrat";
  transition: 0.1s;
  cursor: pointer;
  user-select: none;
}

button.generate:hover {
  background-color: lightgray;
}
button.generate:active {
  background-color: darkgrey;
}

.secondValidatorChild {
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 10%;
}

div.homeParent {
  height: 90vh;
  width: 100vw;
  max-width: 100%;
}

div.homeInfoLeft {
  float: left;
  font-family: "montserrat", sans-serif;
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
  height: 45%;
  width: 45%;
  overflow: hidden;
}

div.homeParent a {
  color: black;

  font-family: "montserrat", sans-serif;
}
div.homeInfoLeft img {
  transition: 0.5s;
  border-radius: 10px;

  height: 65%;
}
div.homeInfoLeft img:hover {
  border-radius: 5px;

  height: 65%;
}

.homeInfoRight {
  height: 40%;
  width: 45%;
  float: right;
}

.homeCredit {
  color: orange;
}

div.metaMain {
  float: left;
  padding: 15px;
  height: 90%;
  width: 40%;
}

div.metaMain input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#metaIMG,
#metaLabel {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
padding: 12px;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  background-color: black;
  display: inline-block;
}
#metaIMG:focus,
#metaIMG,
#metaLabel:hover {
  background-color: orange;
}

div.imgHolder{
  height: 90%;
  min-height: 500px;
  width: 50%;
  min-width: 500px;
  float: right;

}

#userIMG{
  float: right;
  height: 500px;
  width: 50%;
  height: 100%;
object-fit:contain;
}
div.dataInfo{
  float: left;
  height: 100%;
  width: 40%;
}