@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Mulish:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Mono&family=Signika+Negative:wght@300;400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");

.font-google-quicksand {
  font-family: "Quicksand", sans-serif;
}
.font-google-work-sans {
  font-family: "Work Sans", sans-serif;
}

.font-google-roboto-mono {
  font-family: "Roboto Mono", monospace;
}

.font-google-signika-negative {
  font-family: "Signika Negative", sans-serif;
}

.font-google-mulish {
  font-family: "Mulish", sans-serif;
}

.font-google-caveat {
  font-family: "Caveat", cursive;
}
.demo {
  border: 5px dashed red;
}

.vh-75 {
  height: 75vh !important;
}
.vh-50 {
  height: 50vh !important;
}
.vh-25 {
  height: 25vh !important;
}

@media (min-width: 576px) {
  .vh-sm-75 {
    height: 75vh !important;
  }
}

.d-flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.letter-spaced {
  letter-spacing: 0.2em !important;
}

.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
