:root {
  --blue: blue;
  -white: white;
  --black: #1c1c1c;
  --w3Black: #333;
  --fullBlack: black;
  --lightGray: #ddd;
  --fullWhite: white;
  --body: #292929;
  --boxShadow: rgb(44, 44, 44);
}

.demo {
  border: 5px dashed red;
}

.header {
  padding: 60px;
  text-align: center;
  background: var(--black);
  color: var(--fullWhite);
  font-size: 30px;
}

.header h1 {
  font-size: 40px;
}
.navbar {
  z-index: 1;
  overflow: hidden;
  background-color: var(--w3Black);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.navbar a {
  font-size: 22px;
  height: 30px;
  float: left;
  display: block;
  color: var(--fullWhite);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar .navbar-hover:hover {
  background-color: var(--lightGray);
  color: var(--fullBlack);
}

.float-left {
  float: left !important;
}
.text-left {
  text-align: left !important;
}

.float-right {
  float: right !important;
}

.text-right {
  text-align: right !important;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-left {
  clear: left !important;
}
.clear-right {
  clear: right !important;
}

.clear-both {
  clear: both !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.h-50 {
  height: 50% !important;
}

.w-50 {
  width: 50% !important;
}

.h-40 {
  height: 40% !important;
}
.w-40 {
  width: 40% !important;
}

.color {
  color: var(--fullWhite);
}

.font-big {
  font-size: 30px;
}

.font-med {
  font-size: 20px;
}
.font-small {
  font-size: 10px;
}
.font-bold {
  font-weight: bold;
}

.position-relative {
  position: relative;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.transition {
  transition: 0.2s;
}

div.main {
  background-color: var(--body);
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}
div.title {
  text-align: center;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 2%;
  background-color: var(--black);
  border-radius: 20px;
  transition: 0.5s;
  color: var(--fullWhite);
  width: 40%;
  height: 10%;
  min-height: 80px;
  min-width: 200px;
}
div.title:hover {
  z-index: 0;
  scale: 105%;
}

.font-google-quicksand {
  font-family: "Quicksand", sans-serif;
}

div.imageHolder {
  padding: 12px;
}

div.imageHolder > img {
  width: 100%;
  box-shadow: 5px 10px 8px var(--boxShadow);
}

div.container {
  margin-bottom: 50px;
  height: 50%;
  width: 100%;
}
div.info {
  overflow: auto;
  padding: 12px;
  height: 80%;
  width: 100%;
}

div.container a {
  text-decoration: none;
  color: var(--fullWhite);
}
