@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Quicksand&family=Roboto+Mono&family=Signika+Negative:wght@400;700&family=Work+Sans&display=swap");

.font-google-quicksand {
  font-family: "Quicksand", sans-serif;
}
.font-google-work-sans {
  font-family: "Work Sans", sans-serif;
}

.font-google-roboto-mono {
  font-family: "Roboto Mono", monospace;
}

.font-google-signika-negative {
  font-family: "Signika Negative", sans-serif;
}

.font-google-mulish {
  font-family: "Mulish", sans-serif;
}
.demo {
  border: 5px dashed red;
}

.vh-75 {
  height: 75vh !important;
}
.vh-50 {
  height: 50vh !important;
}
.vh-25 {
  height: 25vh !important;
}
